.footer-all{
   
  background-color: rgb(37, 19, 3);
  color: rgb(185, 170, 170);
  align-items: center;
  width: 100%;
  margin-top: 170px;
  
  
}
.footer{
  font-size: 15px;

}
.url{
  text-decoration: none;
  color: gray;
}

